# Server
PORT=3000
NODE_ENV=development

# MongoDB
MONGO_URI=mongodb://127.0.0.1:27017/smartkhedut

# JWT
JWT_SECRET=change_this_to_a_long_random_secret
JWT_EXPIRES_IN=30d

ADMIN_JWT_SECRET=change_this_to_a_different_long_random_secret
ADMIN_JWT_EXPIRES_IN=7d

# Default admin (created by `npm run seed`)
DEFAULT_ADMIN_NAME=Meera Shah
DEFAULT_ADMIN_EMAIL=admin@smartkhedut.in
DEFAULT_ADMIN_PASSWORD=Admin@123

# Base URL used to build full image URLs in responses
BASE_URL=http://localhost:3000
